
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");


:root {

  --gradient-color-red: linear-gradient(90deg, 
                          hsl(7, 89%, 46%) 15%,
                          hsl(11, 93%, 68%) 100%);
  --gradient-color-orange: linear-gradient(90deg, 
                           hsl(22, 89%, 46%) 15%,
                           hsl(54, 90%, 45%) 100%);
  --gradient-color-yellow: linear-gradient(90deg, 
                           hsl(54, 89%, 46%) 15%,
                           hsl(92, 90%, 45%) 100%);
  --gradient-color-green: linear-gradient(90deg, 
                          hsl(92, 89%, 46%) 15%,
                          hsl(92, 90%, 68%) 100%);
  --text-color: #fff;
  --body-color: hsl(0, 0%, 11%);
  --container-color: hsl(0, 0%, 9%);

  --body-font: 'Rubik', sans-serif;

  --biggest-font-size: 2.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}


@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.75rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);

}


.battery {
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0 1.5rem;
}

.battery__card {
  position: relative;
  width: 100%;
  height: 240px;

  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.battery__text {
  margin-bottom: .5rem;
}

.battery__percentage {
  font-size: var(--biggest-font-size);
}

.battery__status {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
}

.battery__status i {
  font-size: 1.25rem;
}

.battery__pill {
  position: relative;
  width: 75px;
  height: 180px;
  background-color: var(--container-color);
  box-shadow: inset 20px 0 48px hsl(0, 0%, 16%), 
              inset -4px 12px 48px hsl(0, 0%, 56%);
  border-radius: 3rem;
  justify-self: flex-end;
  transform: rotate(90deg); 
}
#batt90
{
  transform: rotate(90deg); 
  
}
.battery__pill svg{
  position: absolute;

  
}
.battery__level {
  position: absolute;
  inset: 2px;
  border-radius: 3rem;
  overflow: hidden;

}

.battery__liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: var(--gradient-color-red);
  box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, .1), 
              inset 12px 0 12px hsla(0, 0%, 0%, .15);
  transition: .3s;
}

.battery__liquid::after {
  content: '';
  position: absolute;
  height: 8px;
  background: var(--gradient-color-red);
  box-shadow: inset 0px -3px 6px hsla(0, 0%, 0%, .2);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -4px;
  border-radius: 50%;
}

/* Full battery icon color */
.green-color {
  background: var(--gradient-color-green);
}

/* Battery charging animation */
.animated-green {
  background: var(--gradient-color-green);
  animation: animated-charging-battery 1.2s infinite alternate;
}

/* Low battery animation */
.animated-red {
  background: var(--gradient-color-red);
  animation: animated-low-battery 1.2s infinite alternate;
}

.animated-green,
.animated-red,
.green-color {
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes animated-charging-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 6px hsl(92, 90%, 68%);
  }
}

@keyframes animated-low-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 8px hsl(7, 89%, 46%);
  }
}

/* Liquid battery with gradient color */
.gradient-color-red,
.gradient-color-red::after {
  background: var(--gradient-color-red);
}

.gradient-color-orange,
.gradient-color-orange::after {
  background: var(--gradient-color-orange);
}

.gradient-color-yellow,
.gradient-color-yellow::after {
  background: var(--gradient-color-yellow);
}

.gradient-color-green,
.gradient-color-green::after {
  background: var(--gradient-color-green);
}

/* For small devices */
@media screen and (max-width: 320px) {
  .battery__card {
    zoom: .8;
  }
}

/* For medium devices */
@media screen and (min-width: 430px) {
  .battery__card {
    width: 312px;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .battery__card {
    zoom: 1.5;
  }
}
canvas {
  height: 100%;
  width: 100%;
  
  position: absolute;
}



* {
  box-sizing: border-box;
}
@-webkit-keyframes move-dot1 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  20% {
    transform: translateX(-50%) translateY(30%);
  }
  100% {
    transform: translateX(-50%) translateY(30%);
  }
}
@keyframes move-dot1 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  20% {
    transform: translateX(-50%) translateY(30%);
  }
  100% {
    transform: translateX(-50%) translateY(30%);
  }
}
@-webkit-keyframes move-dot2 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  15% {
    transform: translateX(-50%) translateY(-10%);
  }
  30% {
    transform: translateX(-10%) translateY(-10%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}
@keyframes move-dot2 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  15% {
    transform: translateX(-50%) translateY(-10%);
  }
  30% {
    transform: translateX(-10%) translateY(-10%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

.animation-example {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 9vmin;
  width: 9vmin;
}
.animation-example > .item {
  position: absolute;
  top: 0;
  left: 50%;
  height: 50%;
  width: 50%;
  transform: translateX(-50%);
  transform-origin: 50% 100%;
  pointer-events: none;

}
.animation-example > .item:nth-child(2) {
  transform: translateX(-50%) rotate(90deg);
}
.animation-example > .item:nth-child(3) {
  transform: translateX(-50%) rotate(180deg);
}
.animation-example > .item:nth-child(4) {
  transform: translateX(-50%) rotate(270deg);
}
.animation-example > .item > .line {
  height: 100%;
  width: calc(50% + 1px);
  border-right: 2px dashed #5bc0eb;
}
.animation-example > .item > .dot {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  -webkit-animation: move-dot1 5.5s linear infinite;
          animation: move-dot1 5.5s linear infinite;
}
.animation-example > .item > .dot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 5%;
  width: 5%;
  background: #fff;
  border: 2px solid #FF0000;
  border-radius: 50%;
}
.animation-example > .item > .circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background: #FF0000;
}
.animation-example > .item.-type2 {
  top: 0;
  left: 0;
  transform: none;
  transform-origin: 100% 100%;
}
.animation-example > .item.-type2:nth-child(5) {
  transform: scaleX(-100%);
}
.animation-example > .item.-type2:nth-child(6) {
  transform: scaleX(-100%) scaleY(-100%);
}
.animation-example > .item.-type2:nth-child(7) {
  transform: scaleY(-100%);
}
.animation-example > .item.-type2 > .line {
  position: absolute;
  top: 30%;
  left: calc(30% - 1px);
  width: 70%;
  height: 40%;
  border-right: none;
  border-left: 2px dashed #5bc0eb;
  border-bottom: 2px dashed #5bc0eb;
}
.animation-example > .item.-type2 > .dot {
  top: 30%;
  left: 30%;
  -webkit-animation: move-dot2 4s linear infinite;
          animation: move-dot2 4s linear infinite;
}
.animation-example > .item.-type2 > .circle {
  top: 30%;
  left: 30%;
  transform: translateX(-50%) translateY(-50%);
}
.animation-example > .item:nth-of-type(1) > .dot {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.animation-example > .item:nth-of-type(7) > .dot {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.animation-example > .item:nth-of-type(2) > .dot {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.animation-example > .item:nth-of-type(6) > .dot {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.animation-example > .item:nth-of-type(3) > .dot {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.animation-example > .item:nth-of-type(5) > .dot {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.animation-example > .item:nth-of-type(4) > .dot {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.animation-example > .item:nth-of-type(8) > .dot {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.animation-example > .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50%;
  width: 50%;
}
.animation-example > .center > .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}
.animation-example > .center > .circle:nth-child(1) {
  height: 100%;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 3vmin rgba(0, 0, 0, 0.1);
}
.animation-example > .center > .circle:nth-child(2) {
  height: 80%;
  width: 80%;
  border: 2px solid #5bc0eb;
}
.animation-example > .center > .circle:nth-child(3) {
  height: 50%;
  width: 50%;
  background: #5bc0eb;
}